<div class="list-group">
  <a href="#" class="list-group-item active">
    Top Rated 5 AirLines Of The Year
  </a>
  <a href="#" class="list-group-item">Tata Vistara</a>
  <a href="#" class="list-group-item">Indigo</a>
  <a href="#" class="list-group-item">SpiceJet</a>
  <a href="#" class="list-group-item">Jet Airways</a>
  <a href="#" class="list-group-item">AirAsia</a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Top Rated 5 AirLines Of all times
  </a>
  <a href="#" class="list-group-item">Air India</a>
  <a href="#" class="list-group-item">Indigo</a>
  <a href="#" class="list-group-item">SpiceJet</a>
  <a href="#" class="list-group-item">Jet Airways</a>
  <a href="#" class="list-group-item">Vistara</a>
</div>
